html {
    background-color: rgb(52, 52, 52);
}

.container-fluid {
    background-color: rgb(52, 52, 52);
    color: #fff;
}

input[type='text'], input[type='text']:focus {
    color: #fff;
    background: transparent;
}

.btnd {
    color: red;
    background: transparent;
    border: none;
    font-weight: bold;
    transition: 0.5s;
    opacity: 0.8;
}

.btnd:hover {
    opacity: 1;
    transform: scale(1.2);
}

